<h1> Add listing </h1>
<form action='/listings' method='POST'>
  <label for='title'>Title:</label>
  <input type='text' name='title' />
  <label for='location'>Location:</label>
  <input type='text' name='location' />
  <label for='beds'>Beds:</label>
  <input type='text' name='beds' />
  <label for='price'>Price:</label>
  <input type='text' name='price' />
  <label for='max_guests'>Max guests:</label>
  <input type='text' name='max_guests' />
  <input type='submit' value='Add listing'/>
</form>
